.centrar{
    text-align: center;
}
.div-input{
    padding: 5px 10px;
}
.modal-body{
    padding: 10px 30px;
}
.imgMuestra{
    text-align: center;
    padding: 10px 5px;
    img{
        max-width: 250px;
        max-height: 265px;
    }
}