.centrar{
    text-align: center;
}
.div-input{
    padding: 5px 10px;
}
.card-content{
    margin-top: 20px;
}
.card-body{
    padding: 10px 30px;
}
.formulario-div{
    max-width: 60%;
    margin: auto;
}